@font-face {
  font-family: 'GEDinar';
  src: url(../fonts/Madani\ Arabic\ Light\ 400.ttf);
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #696969;
  --secondary-color: #00a99d;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #00a99d;
  --custom-btn-bg-hover-color: #00a99d;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #00a99d;

  --body-font-family: 'myFirstFont', myFirstFont;

  --h1-font-size: 74px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --btn-font-size: 14px;
  --copyright-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: #f9f9f9;
  /* background-image: url(../images/backbody.png); */
  background-image: url(../images/backbody.jpg);
  font-family: var(--body-font-family);
  font-family: "GEDinar", sans-serif !important;
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: #575756;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}


.color-countup {
  color: #00a99d;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 10px;
}

.section-bg {
  background-color: #f9f9f9;
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay+.container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color);
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5,
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}


/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}



/* 
---------------------------------------------
Video Style
--------------------------------------------- 
*/

.video {
  background-image: url(../images/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px 250px 0px;
  position: relative;
}

.video-content {
  /* margin-top: -240px; */
  position: relative;

}

.video .section-heading h2 {
  color: #fff;
}

.video-frame {
  text-align: center;
  /* position: relative; */
} 

/* .video-div {
  text-align: center;
  width: -webkit-fill-available !important;
  width: 100% !important;
}  */

.video-div {
  text-align: center;
  height: 500px;
  border-radius: 1.25rem;
}

@media (max-width: 767.98px) {
  .video-div {
    width: 100% !important;
    height: 300px;
  }
}

/* @include media-breakpoint-up(xs) { 
  .video-div {
    width: 100% !important;
  }
} */

    /* .video-div {
      width: 100% !important;
    } */


/* .video-content .video-frame {
  position: relative;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
} */
/* 
.video-content .video-frame img {
  border-radius: 10px;
} */

/* .video-content .video-frame a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-26px, -26px);
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  color: #00a99d;
  outline: 15px solid #00776f;
  font-size: 18px;
} */




/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


.clients_component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: grid;
}



/*---------------------------------------
  VIDEO              
-----------------------------------------*/

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Extra Small */ 
/* abad */
/* @media (max-width: 575px) {
  .custom-video {
    position: absolute;
     object-fit: contain;
     background: rgba(244, 149, 149, 0.416);
  }
 } */
 
@media (min-width: 576px) { /* Small */ 
  .custom-video {
     object-fit: cover;
   /* width: 100% !important;
    height: 300px; */
  }
 }

@media (min-width: 768px) { /* Medium */ 
  .custom-video {
    position: unset;
  }
 }

@media (min-width: 992px) { /* Large */ 
  .custom-video {
    position: absolute;
  }
 }

@media (min-width: 1200px) { /* Extra large */ 
  .custom-video {
    position: absolute;
  }
 }


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
}



.sub-header {
  background-color: #ffffff;
  /* padding: 10px 0px; */
  /* justify-content: center; */
  border-bottom: 1px solid #eee;
  direction: rtl;
}

.sub-header ul li {
  display: inline-block;
}
 

.sub-header ul.social-links {
  text-align: left;
  margin-bottom: .5rem;
}

.sub-header ul.social-links li {
  margin-right: 8px;
  align-content: center !important;
}

.sub-header ul.social-links li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #cdcdcd;
  border-radius: 50%;
  text-align: center;
  /* line-height: 30px; */
  color: #fff;
  font-size: 14px;
  transition: all .3s;
  align-content: center !important;
}

.sub-header ul.social-links li a:hover {
  background-color: #00a99d;
}

@media (min-width: 768px) { .sub-header ul.social-links { margin-bottom: 1rem; } } /* Medium */
@media (min-width: 992px) { .sub-header ul.social-links { margin-bottom: .5rem; } } /* Large */ 
@media (min-width: 1200px) { .sub-header ul.social-links { margin-bottom: .5rem; } } /* Extra large */ 

.sub-header ul.info li {
  font-size: 14px;
  color: #7a7a7a;
  border-left: 1px solid #eee;
  margin-left: 25px;
  padding-left: 25px;
}

.sub-header ul.info li:last-child {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}

.sub-header ul.info li i {
  font-size: 20px;
  color: #00a99d;
  margin-left: 8px;
}



[data-countup] {
  font-size: 3rem;
  /* font-family: impact; */
  font-family: "Montserrat", sans-serif;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 51px;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--white-color);

 
  box-shadow: inset 0 -1px 0 0 var(--accents-2);
  transform: translateZ(0);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.5);
  -moz-filter: blur(3px);

 /* -webkit-filter: blur(3px); */
/* -o-filter: blur(3px); */
/* -ms-filter: blur(3px); */
/* filter: blur(5px);   */
}

.navbar {
  background: transparent;
  z-index: 9;
  direction: rtl;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}
@media (max-width: 575px) { /* Small */ 
  .navbar-brand{
    display: contents;
  }
 }

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: #434342;
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: #00a99d;
  transition: 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #00a99d;
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  HERO        
-----------------------------------------*/

.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: calc(100vh - 51px);
}

.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.45;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section .container .row {
  height: 100%;
}

.delrow{
  --bs-gutter-x:none;
  /* border: solid; */
  /* background: #00a99d; */
}

/* start iframe */


/* Extra x-Small */ 
/* @media (max-width: 374px) { 
  .ratio>*{
    display: none !important;
  }
} */
/* Extra Small */ 
/* @media (max-width: 575px) { 
  .ratio>*{ 
    top: -.7rem;
    border: solid rgb(227, 87, 218);
  }
} */
/* Extra xx-Small */ 
/* @media (max-width: 344px) { 
  .ratio>*{ top: 7rem;
    border: solid rgb(227, 87, 218);
  }
} */
/* Extra xx-Small */ 
/* @media (max-width: 360px) { 
  .ratio>*{ 
    top: 0rem;
    border: solid rgb(110, 79, 108);
  }
} */
.disabled-div {
  pointer-events: none;
  opacity: 1;
  /* Optional: Add additional styles to convey disabled state */
  /* background-color: #f2f2f2; */
  /* color: #999; */
  cursor: not-allowed;
}
@media (min-width: 576px) { /* Small */ 
  .ratio>*{ top: 6.6rem;
    /* border: solid rgb(108, 167, 239); */
  }
}
@media (min-width: 768px) { /* Medium */ 
  .ratio>*{ top: 6rem;
    /* border: solid rgb(255, 200, 0); */
  }
  .video-wrap{ margin-bottom: 9.5rem; }
}
@media (min-width: 992px) { /* Large */ 
  .ratio>*{ 
    top: 0rem;
    /* border: solid rgb(64, 0, 255); */
  }
  .video-wrap{ margin-bottom: 5rem; }
}
@media (min-width: 1200px) { /* Extra large */ 
  .ratio>*{
     z-index: -1;
    top: -4rem;
    /* background: red; */
    display: block;
    border: none;       
    /* border: solid rgb(0, 183, 255); */
    /* height: 100vh !important; */
    width: 100%;
  }
  .video-wrap{ margin-bottom: 0rem; }
}
/* end iframe */

/* abad */
@media (max-width: 575px) { /* Extra Small */ 
  .custom-video {
    /* position: absolute; */
     object-fit: contain;
     /* width: 100% !important;
     height: 300px; */
     /* background: rgba(244, 149, 149, 0.416); */
  }
 }

/* abad */
@media (max-width: 575px) { /* Extra Small */ 
  .hero-section {
    height: 100%;
  position: relative;
  height: calc(40vh - 91px) !important;
   /* background: green; */
  }
}

@media (max-width: 767.98px) {
  .hero-section {
    /* height: 100%; */
  /* position: relative; */
  height: calc(52vh - 91px);
   /* padding-bottom: 0px; */
  }
}

/*---------------------------------------
  TICKET               
-----------------------------------------*/
.ticket-section {
  background-image: url('../images/nicholas-green-unsplash-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 130px;
}

.ticket-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 50px;
}

.ticket-form .form-check {
  position: relative;
  min-height: 52px;
  padding-left: 35px;
}

.ticket-form .form-check .form-check-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12px;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}




/* 
---------------------------------------------
partners
--------------------------------------------- 
*/

.partners {
  direction: rtl;
  /* border: solid; */
}

/* section.partners {
  background-color: #ffffff;
  padding: 80px 0px;
} */

section.partners .item {
  /* margin: 0px 15px; */
  cursor: pointer;
  transition: all .3s;
  /* align-items: center; */
  /* background-color: #00776f; */
  justify-content: center;
  display: flex;
}

section.partners .item:hover {
  opacity: 0.75;
}


section.partners .item img {
  width: 100px;
}


@media screen and (max-width: 991px) {
  section.partners .item img {
    width: 50px;
  }

}

.cardimg{
  /* background: red; */
  /* margin: 1rem; */
  /* border: solid; */
  /* height: 100px;
  width: 100px; */
  /* background: #caeced25; */
  /* border-radius: 18px; */
  /* margin-bottom: 0.5rem; */
  /* padding: 10px; */
  /* align-items: center; */
  /* justify-content: space-between; */
   /* justify-content: center; */
 /* display: flex; */
 text-align: -webkit-center;
}

/* .iitem{
  border-radius: 18px !important;
  padding: 10px;
} */
 
.cimag{
  object-fit: contain;
  /* border: solid 0.1px; */
  padding: 3px;
  border-radius: 18px !important;
  padding: px;
  background: #caeced25 !important; 
}


@media (max-width: 374px) { /* Extra x-Small */ 
  .cimag{ width: 75px; height: 70px;}
  }
@media (max-width: 575px) { /* Extra Small */ 
  .cimag{ width: 80px; height: 75px; /*background:yellow !important;*/}
  .partners { padding-left: 1rem !important; padding-right: 1rem !important; }
  .cardimg{ margin-bottom: .7rem;}
}
@media (max-width: 344px) { /* Extra xx-Small */ 
  .cimag{ width: 70px; height: 65px; /*background:blue !important;*/}
  /* .partners { padding-left: 3rem !important; padding-right: 3rem !important; } */
}
@media (max-width: 360px) { /* Extra xx-Small */ 
  .cimag{ width: 70px; height: 65px; /*background:blue !important;*/}
  .partners { padding-left: 1rem !important; padding-right: 1rem !important; }
}
@media (min-width: 576px) { /* Small */ 
  .cimag{ width: 100px; height: 95px; /*background:orange !important;*/}
  .partners { padding-left: 3rem !important; padding-right: 3rem !important; }
}
  @media (min-width: 768px) { /* Medium */ 
    .cimag{ width: 105px; height: 100px; /*background:green !important;*/}
    .partners { padding-left: 5rem !important; padding-right: 5rem !important; }
  }
  @media (min-width: 992px) { /* Large */ 
    .cimag{ width: 105px; height: 100px; /*background:pink !important;*/}
    .partners { padding-left: 4rem !important; padding-right: 4rem !important; }
  }
  @media (min-width: 1200px) { /* Extra large */ 
    .cimag{ width: 105px; height: 100px;}
    .partners { padding-left: 11rem !important; padding-right: 11rem !important; }
  }

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  /* line-height: 36px; */
  transition: 0.2s, color 0.2s;
  align-content: center;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before {
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}





/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: #fff;
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  box-shadow: 0px 24px 64px #00aa9c98;

  
}

.site-footer .custom-link {
  color: rgba(0, 0, 0, 0.65);
  font-size: var(--p-font-size);
}

.site-footer .custom-link:hover,
.site-footer .social-icon-link:hover {
  color: rgb(255, 255, 255);
  font-size: var(--copyright-text-font-size);
}

.copyright-text {
  color: rgba(0, 0, 0, 0.45);
  font-size: var(--copyright-text-font-size);
}




/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-bottom: 2px;
  /* margin-left: 0; */
}

.social-icon-link:hover {
  color: #fff;
}



/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .navbar {
    background-color: #fff;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  /* .hero-section {
    padding-top: 150px;
  } */

/* section video */
@media (min-width: 576px) { /* Small */ 
  .hero-section {
    position: relative;
     object-fit: cover !important;
    /*width: 100% !important;
    height: 300px; */
    margin-top: 106px !important;
  }
 }

@media (min-width: 768px) { /* Medium */ 
  .hero-section {
    position: unset;
    padding-top: 0px !important;
    height: unset;
  }
 }

@media (min-width: 992px) { /* Large */ 
  .hero-section {
    padding-top: 107px !important;
  }
 }

@media (min-width: 1200px) { /* Extra large */ 
  .hero-section {
    position: absolute;
  }
 }


  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr,
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}




@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}

.conthed{
  min-width: 100% !important;
}

@media (min-width: 768px) {
  .col-md-3 {
      margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    align-items: center;
        display: grid;
  }
}

/* navbar */
@media (max-width: 575px) { /* Extra Small */ 
  .sticky-wrapper{
    position: unset;
    background: none;
    margin-top: 0px !important;
  }
 }
@media (min-width: 576px) { /* Small */ 
  .sticky-wrapper{
    background: none;
    margin-top: 0px !important;
  }
 }
@media (min-width: 768px) { /* Medium */ 
  .sticky-wrapper{
    background: none;
    margin-top: 60px !important;
  }
 }
 @media (min-width: 992px) { /* Large */ 
  .sticky-wrapper{
    background: none;
  }
 }

@media (min-width: 1200px) { /* Extra large */ 
  .sticky-wrapper{
    background: none;
  }
 }

 /* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
  
 } */

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .bihed {
    /* background: red; */
    font-size: 16px !important;
  }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .bihed {
    font-size: 16px !important;
  }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 }
 

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }









/* Home */


.c-work-header{
  direction: rtl;
}

.recent-work.card{
  border-radius: 10px !important;
  direction: rtl;
}
.recent-work .recent-work-vertical {
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.513) 0%, rgba(255,255,255,0) 33.333%, #00aa9d 66.666%, rgba(255,255,255,0) 99.999%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
 
}


/* .recent-work  .card-title .card-text {
  display: none;
} */

.card-text{
  font-size: 15px;
}

.recent-work-content {
 display: none;
}


.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 55%;
  margin-top: -0em;
  position: absolute;
  display:list-item;
 

}



.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: .5s;
}

.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #00aa9d;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #00aa9d;
}
.why-us {
  background: rgb(239,239,253);
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}


.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px
}





/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;

  
}

.section-title{
  text-align: center;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  position: relative;
}

.faq .faq-list li:hover{
  box-shadow: 0px 24px 64px rgba(0, 170, 156, 0.062);

}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "GEDinar", sans-serif !important;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  left: 0;
  right: 20px;
  color: #00aa9d;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 30px 0 0;
  font-family: "GEDinar", sans-serif !important;

}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
  font-family: "GEDinar", sans-serif !important;

}

.faq .faq-list a.collapsed:hover {
  color: #00aa9d;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
